.container {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.wrapper {
  width: 82%;
  height: 100%;
  border-radius: 50px;
  margin-right: 6%;
  display: flex;
  gap: 50%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--grey);
}
